@{
    ViewData["Title"] = "Home Page";
}
@model Treehouse.AspNetCore.Models.FormModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form asp-action="Index" asp-controller="Index">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" placeholder="Your name goes here"/>
        <input type="submit" />
    </form>

    <a asp-controller="Players"
       asp-action="Index">Players</a>
    <a asp-controller="Teams"
       asp-action="Index">Teams</a>
</div>
