@model Treehouse.AspNetCore.ViewModels.PlayerViewModel



<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.Name" class="control-label"></label>
                <input asp-for="Player.Name" class="form-control" />
                <span asp-validation-for="Player.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Position" class="control-label"></label>
                <input asp-for="Player.Position" class="form-control" />
                <span asp-validation-for="Player.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Skill" class="control-label"></label>
                <input asp-for="Player.Skill" class="form-control" />
                <span asp-validation-for="Player.Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.TeamId" class="control-label"></label>
                <select asp-for="Player.TeamId" class="form-control"
                        asp-items="@(new SelectList(Model.SelectTeams,"Id", "TeamName"))">
                    <option>-- Select Team --</option>
                </select>
                <span asp-validation-for="Player.TeamId" class="dropdown"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

